# Generated class files
*.class

# Default data file
notification.txt
policeRecords.txt
passwordStorage.txt
addressbook.txt
ScreeningHistory.txt
requestList.txt

# Logger files
parserLog.log.1
parserLog.log

# Package Files #
*.jar
*.war
*.ear

# Idea files
.idea/
*.iml
out/
test/data/
/bin/
/data/
publish.sh

# Gradle build files
.gradle/
build/


env

