# Generated class files
*.class

# Default data file
notification.txt
policeRecords.txt
ScreeningHistory.txt
requestList.txt

# Logger files
/config.json

# Package Files #
*.jar
*.war
*.ear

# Idea files
.idea/
*.iml
out/
test/data/
/bin/
/data/
publish.sh

# Gradle build files
.gradle/
build/
parserLog\.log\.1

notifications\.txt

inboxMessages/
