
.text-area {
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-font-family: "monospace";
    -fx-font-size: 10pt;
    -fx-padding: 0 325 250 0;
    -fx-cursor: crosshair;
    -fx-background-image: url(http://www.simontuckett.com/_Portfolio/PortImages_Pres/P_Il_Prism.jpg);
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "fantasy";
    -fx-text-fill: black;
    -fx-control-inner-background: Gray;
    -fx-cursor: crosshair;
}
