
.text-area {
    -fx-background-color: navy;
    -fx-control-inner-background: black;
    -fx-font-family: "Gruppo";
    -fx-font-size: 10pt;
    -fx-padding: 15 15 15 15;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Allerta Stencil";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-control-inner-background: black;
    -fx-padding: 0 0 0 0;
}
